---
layout: handbook-page-toc
title: Plan:Editor Engineering Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Plan:Editor team

The Plan:Editor team works on both the backend and frontend parts of
GitLab's [Editor] categories in the [Plan stage].

For more details about the vision for this area of the product, see the
[Plan stage] page.

[Editor]: /handbook/product/categories/#editor-group
[Plan stage]: /direction/plan/

### Team members

<%= direct_team(manager_role: 'Senior Manager, Engineering, Plan', role_regexp: /[,&] (Plan:Editor)/) %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] (Plan(?!:)|Plan:Editor)/, direct_manager_role: 'Senior Manager, Engineering, Plan') %>

### Hiring chart

Check out our [jobs page](/jobs/) for current openings.

### Dashboards

<%= partial "handbook/engineering/metrics/partials/_cross_functional_dashboard.erb", locals: { filter_value: "Editor" } %>

More detail is available on our [metrics page].

[metrics page]: https://about.gitlab.com/handbook/engineering/metrics/dev/plan/editor/#mr-types-dashboard
[Work Type Classification]: https://about.gitlab.com/handbook/engineering/metrics/#work-type-classification

## Useful links

<%= partial("handbook/engineering/development/dev/plan/useful_links", locals: { board: { name: 'Plan:Editor', url: 'https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aeditor' }}) %>
